body {
    background: linear-gradient(#80776b, #9b9a91, #828c8d);
    height: 100vh;
}

.picture {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
}

.card {
    position: relative;
    overflow: hidden;
}

.card::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, #ff9c0893, #dfc90aa8, #04d9f57c);

    transform: translateX(100%);
    transition: transform 0.3s ease;
}

.card:hover::after {
    transform: translateX(0);
}
